<html>
    <head>
        <title>Mi sitio!</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <p>Mi sitio!</p>
            <nav>
                <ul>
                    <li>
                        <a href="/movies/create">Crear Peliculas</a>
                    </li>
                    <li>
                       <a href="/movies">Ver Peliculas</a>
                    </li>
                </ul>
            </nav>
        </header>
       